body {
    background-color: #f3f1ea;

}

.bb {

    background-color: #0f0f0f;
}

.bb2 {

    background-image: url('../images/footbg.png');
}



a {

    color: white;


}

.border {

    background-color: blanchedalmond;
}